<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B62DDC7E2B6D44075195665D1729E57B50B809B2</string>
				<key>dateExpires</key>
				<string>2024/02/16</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B62DDC7E2B6D44075195665D1729E57B50B809B2</string>
						<key>dateExpires</key>
						<string>2024/02/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7MXM63QGKX</string>
						<key>name</key>
						<string>MEDICLE Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7MXM63QGKX.com.medicle.alpha</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:plugwallet.ooo</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7MXM63QGKX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Plug.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>68facfac-ae08-4bdf-9510-1fb99035e97f</string>
				<key>dateExpires</key>
				<string>2024/02/16</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.medicle.alpha</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7MXM63QGKX</string>
				<key>name</key>
				<string>MEDICLE Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.3</string>
		</dict>
	</array>
</dict>
</plist>
