<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674986444915-f60nknsrtmnnvo3f0gl3lfr3vt5bs619.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674986444915-f60nknsrtmnnvo3f0gl3lfr3vt5bs619</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674986444915-659tcfv2nrfamg0k1gihbk17vspq3dvl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIIpPwz9QlOQZjNKUbVXyjVRLZJOVqSE</string>
	<key>GCM_SENDER_ID</key>
	<string>674986444915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.medicle</string>
	<key>PROJECT_ID</key>
	<string>medicle-1f0d0</string>
	<key>STORAGE_BUCKET</key>
	<string>medicle-1f0d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674986444915:ios:ba33d05c18a18a2d908206</string>
</dict>
</plist>